[color]
	diff = auto
	status = auto
	branch = auto
[user]
	email = adambyrtek@gmail.com
	name = Adam Byrtek
[alias]
	st = status
	ci = commit
	co = checkout
	meld = !git-meld
	vimdiff = !git-vimdiff
[merge]
	tool = meld
