[color]
	ui = auto
[user]
	email = adambyrtek@gmail.com
	name = Adam Byrtek
[alias]
	br = branch
	st = status -s
	ci = commit
	co = checkout
	dc = diff --cached
	ll = log --oneline --graph
	meld = !git-meld
	vimdiff = !git-vimdiff
[merge]
	tool = vimdiff
