[color]
	ui = auto
[user]
	email = adambyrtek@gmail.com
	name = Adam Byrtek
[alias]
	br = branch
	st = status -s
	ci = commit
	co = checkout
	meld = !git-meld
	vimdiff = !git-vimdiff
[merge]
	tool = meld
[difftool]
	prompt = false
