# Partial match before showing the list
set show-all-if-unmodified on

# Ignore case during completion
set completion-ignore-case on

# Highlight the completion prefix
set colored-completion-prefix on

# Show suffix with file type symbol
set visible-stats on

# Prevent saving edited history lines
set revert-all-at-newline on

# Prefix history search with arrows
"\e[A": history-search-backward
"\e[B": history-search-forward
