# Disable beep
set bell-style none

# Single Tab shows list of completions
set show-all-if-ambiguous on

# Ignore case during completion
set completion-ignore-case on

# Color the common prefix
set colored-completion-prefix on

# Prefix history search
"\ep": history-search-backward
"\en": history-search-forward
