# On first Tab complete a partial match or show list (if no match)
set show-all-if-unmodified on

# Ignore case during completion
set completion-ignore-case on

# Highlight the common prefix
set colored-completion-prefix on

# Prefix history search with arrows
"\e[A": history-search-backward
"\e[B": history-search-forward
