! Include Solarized theme
#include ".Xresources-solarized"
! Appearance
!XTerm*foreground: gray
!XTerm*background: black
XTerm*faceName: Droid\ Sans\ Mono
XTerm*faceSize: 10
XTerm*borderWidth: 0
XTerm*boldMode: false
! Make Left Alt behave correctly
XTerm*metaSendsEscape: true
! Enable 256-color mode
XTerm*termName: xterm-256color
! Set urgency flag on bell
XTerm*bellIsUrgent: true
